@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primaryColor: #e0e0e0 url('../imgs/18219ceb-2e5d-4f76-a431-9eb8fdfd05be.jpg') no-repeat center top;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--primaryColor);
    background-size: cover;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h3 {
    margin: 0;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #c4c4c4;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 10px;
    border: #dadada 1px solid;
}

form input:focus {
    outline: 1px solid #CFD8DC;
}

form button {
    height: 50px;
    width: 100px;
    margin: 20px 0 auto auto;
    background: #ececec;
    font-size: 20px;
    border-radius: 10px;
    transition: background 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

form button:hover {
    background: #e7e7e7;
    border-radius: 20px;;
}

.colorResults {
    background: #fff;
    transition: background 0.2s ease-in-out;
}

.resultado {
    line-height: 0px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
}

@media (max-width: 600px) {
    .resultado {
        font-size: 16px;
        line-height: 1.2em;
    }
}